*{
  padding: 0;
  margin: 0;
}

:root{
  /*** Colors ***/
  --border-grey:#D8E4EB;
  --background-grey:#fbfbfb;
  --dark-grey:#374D55;
  --plain-white:#ffffff;
  --fade-blue:#008EBD;
  --gren:#4cad33;
  --red:#d4021d;

  /*** Font styles ***/
  /* Font-sizes */
  --medium-size:16px;
  /* Line Height */
  --medium-line:24px;
  /* Letter Spacing */
  --small-space:0.6px;
  /* Font weights */
  --weight-bold:700;
  --weight-medium:400;

}
